h1{
    font-size: 60px;
    font-weight: 600;
    line-height: 80px;
}
p{
    font-size: 18px;
    color: #999999;
    line-height: 1.8;
    margin-bottom: 0;
}

.topmargin-lg{
    margin-top:60px !important;
}
.topmargin-sm{
    margin-top:30px !important;
}
.topmargin-xs{
    margin-top:15px !important;
}

.btn {
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}

.btn-light{
    background-color: #ffffff;
    color:#1a1a1a;
    border: 2px solid #fff;
}

.btn ion-icon{
    font-size: 14px;
    margin-left:5px;
}
.text-main-button{
    font-size: 16px;
}

#hero {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: #ffffff;
}
#hero p{
    color:#ffffff
}
.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}


